{% extends 'main_page/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/favourites.css' %}">
{% endblock %}

{% block content %}
    <h2>Избранные товары</h2>
    <section class="favourites-content container content">
        <div class="favourites-tape">
            {% for item in favourites_item %}
                <div class="product-card">
                    <a href="{{ item.get_absolute_url }}">
                        <img src="{{ item.img.url }}" height="200" width="150" alt="Товар">
                    </a>

                    <div class="product-description">
                        <p>{{ item.name }}</p>
                        <p>{{ item.description }}</p>
                        <span><b>{{ item.price }} ₽</b></span>
                    </div>

                    <div class="interaction-item">
                        <a class="remove-prod" href="{% url 'favourites:remove_item' item.id %}">
                            <img src="{% static 'favourites/remove-icon.svg' %}" height="30" width="30"
                                 alt="Удалить избранное">
                        </a>

                        <a class="buy-prod" href="{% url 'cart:add_item' item.id %}">Купить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
