{% extends 'main_page/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <h2>Восстановление пароля</h2>
    {% if validlink %}
        <p>Пожалуйста, введите новый пароль дважды</p>
        <form action="." method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <p><input type="submit" value="Изменение пароля"/></p>
        </form>
    {% else %}
        <p>Ссылка недействительна. Возможно она была уже использована.
            Пожалуйста, сделайте запрос еще раз</p>
    {% endif %}
{% endblock %}