.slogan {
    position: relative;
}

.high-quality {
    background-color: #fdfbf8;
    padding: 25px 50px 25px 50px;
    position: absolute;
    border-radius: 7px;
    top: 30px;
    left: 30px;
    width: 500px;
    opacity: 0.9;
    box-sizing: border-box;
}

.high-quality h1 {
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    padding: 0 0 15px 0;
}

.high-quality p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    text-indent: 1.5em;
}

.go-shop {
    margin: 20px auto 0 auto;
    text-align: center;
    background-color: #e89f71;
    padding: 10px 20px 10px 20px;
    width: 250px;
}

.go-shop-link {
    color: white;
    font-size: 20px;
}

.slogan img {
    width: 100%;
}

span {
    font-size: 18px;
}

.about-us-info p {
    text-align: justify;
    text-indent: 1.5em;
    padding-bottom: 10px;
    font-size: 20px;
}

.our_advantages {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 30px 0;
}

.advantages {
    display: flex;
}

.img {
    padding-right: 15px;
}

.furniro-choose {
    text-align: center;
    padding: 15px 0 20px 0;
}

.why-choose-us {
    display: flex;
}

.list_advantages ul {
    margin-left: 20px;
}

.list_advantages ul li {
    margin: 0 20px 20px 0;
    font-size: 20px;
    text-indent: 1.5em;
}


