{% extends 'main_page/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/add_prod.css' %}">
{% endblock %}

{% block content %}
    <h1>Добавление продукта</h1>

    <div class="add-product-content container">
        <form method="post" class="add-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button">
                <button class="add">Добавить</button>
            </div>
        </form>
    </div>
{% endblock %}