{% extends 'main_page/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form-prod-style.css' %}">
{% endblock %}

{% block content %}
    <h2>Добавление продукта</h2>

    <div class="content">
        <form method="post" enctype="multipart/form-data" class="add-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button">
                <button class="add-btn">Добавить</button>
            </div>
        </form>
    </div>
{% endblock %}