<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %} {% endblock %}
    <title></title>
</head>
<body>
    <header class="page-header">
        <div class="page-header__wrapper container">

            <nav class="site-nav page-header__site-nav">
                <div class="page-header__logo">
                    <a href="{% url 'main_page:index' %}">
                        <img src="{% static 'main_page/my_logo.svg' %}" width="80" height="80" alt="Логотип автора">
                    </a>
                </div>

                <ul class="site-nav__list">
                    {% for item in menu %}
                        <li class="site-nav__item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="user-nav__user-block">
                {% if user.is_authenticated %}

                <div class="user-nav__shop_block">
                    <a href="{% url 'cart:cart' %}"><img src="{% static 'main_page/shop_cart.svg' %}" height="40"
                                                         width="40" alt="Корзина товаров"></a>
                </div>

                <div class="user-nav__profile">
                    <a class="user-nav__logo" id="user-icon" href="{% url 'main_page:index' %}">
                        <img src="{% static 'main_page/user_logo.svg' %}"
                             width="32" height="33" alt="Пользователь">
                    </a>

                    <div class="dropdown-menu">
                        <ul class="controls-elem">
                            <li class="user-section">
                                <a class="username" href="#">{{ user }}</a>

                                {% if user.is_superuser and user.is_staff %}
                                    <a class="add-product product-controls" href="{% url 'main_page:add_product' %}">Добавить продукт</a>
                                {% endif %}
                            </li>
                        </ul>

                        <ul class="user-dropdown-nav">
                            <li><a href="{% url 'favourites:all_products' %}">Избранное</a></li>
                            <li><a href="{% url 'compare:all_compare' %}">Сравнение</a></li>
                        </ul>

                        <ul class="user-dropdown-auth">
                            <li><a href="{% url 'login' %}">Сменить пользователя</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button class="logout-btn">Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                {% else %}

                <ul class="user-nav__user-auth">
                    <li><a href="{% url 'signup' %}">Зарегистрироваться</a></li>
                    <li><a href="{% url 'login' %}">Войти</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}

    {% endblock %}

{#    {% include 'main_page/footer.html' %}#}
</body>
</html>