{% extends 'main_page/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/view_prod.css' %}">
{% endblock %}

{% block script %}
    <!--Подключение jQuery-->
    <script type="module" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <!--Подключение слайдера slick-->
    <script type="module" src="{% static 'js/slider/slick.min.js' %}src/js/slider/slick.min.js"></script>
    <!--подключение файла скриптов-->
    <script type="module" src="{% static 'js/slider/script.js' %}src/js/slider/script.js"></script>
{% endblock %}

{% block content %}
    <h2>Просмотр товара: <b>{{ product.name }}</b></h2>

    <section class="content">
        <div class="view-product">
            {#            <div class="prod-img">#}
            <img src="{{ product.img.url }}" alt="">
            {#            </div>#}

            <table class="specific-product-table">
                <thead>
                <tr class="row-titles">
                    <th class="product-name">Наименование</th>
                    <th class="product-price">Цена (руб)</th>
                    <th class="product-width">Ширина (см)</th>
                    <th class="product-height">Высота (см)</th>
                    <th class="product-weight">Вес (кг)</th>
                    <th class="product-remove"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p>{{ product.name }}</p></td>
                    <td><p>{{ product.price }}</p></td>
                    <td><p>{{ product.width }}</p></td>
                    <td><p>{{ product.height }}</p></td>
                    <td><p>{{ product.weight }}</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="feedback-content">
        <div class="feedback-wrapper container">
            <h2>Отзывы</h2>

            <div class="feedback">
                <div class="feedback__item">
                    {% for review in product.review_set.all %}
                        {% if review.body %}
                            <div class="feedback__item">
                                <div class="avatar-block">
                                    <img src="#" alt="">
                                </div>

                                <div class="name-block">
                                    {{ review.owner.username }}
                                </div>

                                <div class="feedback-block">
                                    <p><i>{{ review.body | linebreaksbr }}</i></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="create-feedback">
                <h5 class="feedback-rating">
                    {{ product.vote_ratio }}% Положительных отзывов
                    ({{ product.vote_total }} Vote {{ product.vote_total | pluralize:'s' }})
                </h5>

                {% if request.user.profile.id in product.reviewers %}
                    <p>Вы уже оставили свой отзыв на этот продукт</p>
                {% elif request.user.is_authenticated %}
                    <form class="form" action="{% url 'main_page:product_detail' product.id product.slug %}" method="POST">
                        {% csrf_token %}
                        {% for field in form_review %}
                            <div class="form_field">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button class="leave_review" type="submit">Оставить отзыв</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}"></a>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}