{% extends 'main_page/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/view_prod.css' %}">
{% endblock %}

{% block content %}
    <h2>Просмотр товара: <b>{{ product.name }}</b></h2>

    <section class="content">
        <div class="view-product">
            {#            <div class="prod-img">#}
            <img src="{{ product.img.url }}" alt="">
            {#            </div>#}

            <table class="specific-product-table">
                <thead>
                    <tr class="row-titles">
                        <th class="product-name">Наименование</th>
                        <th class="product-price">Цена (руб)</th>
                        <th class="product-width">Ширина (см)</th>
                        <th class="product-height">Высота (см)</th>
                        <th class="product-weight">Вес (кг)</th>
                        <th class="product-remove"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>{{ product.name }}</p></td>
                        <td><p>{{ product.price }}</p></td>
                        <td><p>{{ product.width }}</p></td>
                        <td><p>{{ product.height }}</p></td>
                        <td><p>{{ product.weight }}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="product-reviews-content">
        <div class="reviews-tape container">
            <h2>Отзывы</h2>

            <h5 class="product-rating">
                {{ product.vote_ratio }}% Положительных отзывов
                ({{ product.vote_total }} Vote {{ product.vote_total | pluralize:'s' }})
            </h5>
            {% if request.user.profile.id in product.reviewers %}
                <p>Вы уже оставили свой отзыв на этот продукт</p>
            {% elif request.user.is_authenticated %}
                <form class="form" action="{% url 'main_page:product_detail' product.id product.slug %}" method="POST">
                    {% csrf_token %}

                    {% for field in form_review %}
                        <div class="form_field">
                            <label>{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button class="leave_review" type="submit">Оставить отзыв</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}"></a>
            {% endif %}
            <div class="review-list">
                {% for review in product.review_set.all %}
                    {% if review.body %}
                        <div class="review">
                            {% if review.reviewer %}
                                <div class="review_details">
                                    <a href="{% url '' %}"></a>                                    
                                </div>
                            {% endif %}
                        </div>                                                
                    {% endif %} 
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}