body {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
    padding: 30px 0 30px 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.favourites-content {
    /*display: flex;*/
    margin-top: 15px;
}

.favourites-tape {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
}

.product-card {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 25px 17px;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px 0 20px;
}

.interaction-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid gray;
    text-align: center;
    padding: 10px 5px 10px 20px;
}

.buy-prod {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 7px;
}

.buy-prod:hover {
    background-color: lightsalmon;
}




