/* Начало блога */

h1 {
    text-align: center;
    padding: 30px 30px;
    text-transform: uppercase;

}

.auth-info p {
    font-size: 20px;
}

.info-block {
    margin: 0 auto;
    /*width: 1050px;*/
}

.dev-block {
    display: flex;
    padding: 15px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 10px;
}

.auth-img {
    border-right: 2px solid black;
}

.auth-info {
    padding: 0 15px;
    line-height: 1.5;
    border-right: 2px solid black;
}

.auth-info p {

}

h3 {
    text-align: center;
    padding: 10px 0;
}

.auth-info ul {
    margin-left: 30px;
    font-size: 20px;
}

.other-links {
    padding: 0 15px;
}

.other-links ul li a:hover {
    text-decoration: underline;
}

.other-links p {
    text-decoration: none;
    line-height: 1.5;
    color: black;
    text-align: justify;
}

.other-links ul {
    margin-left: 25px;
}
