.title {
    padding: 30px 0 30px 0;
}

.person-block {
    display: flex;
    justify-content: space-between;
}

.person-card, .person-reviews {
    border: 2px solid black;
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
}

.person-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-data-title, .user-reviews-title {
    text-align: center;
}

.person-block h2 {
    border-bottom: 2px solid black;
}

.person-photo {
    padding: 10px 0 10px 0;
    text-align: center;
}

.person-photo img {
    border-radius: 100%;
}

.person-details {
}

.person-info p {
    font-size: 25px;
    padding: 3px 0 3px 0;
}

.reviews-tape {
    margin-top: 10px;
}

.review-card {
    border: 1px solid black;
    padding: 5px 7px 5px 7px;
    border-radius: 10px;
}

.review-card:not(:last-child) {
    margin-bottom: 10px;
}

.review-card p {
    font-size: 20px;
}

.review-card a:hover {
    color: #d3d3d3;
}

.edit-profile-button {
    text-align: center;
    padding: 5px 5px 5px 6px;
    background-color: #797979;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

.edit-btn {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

