body {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
    padding: 30px 0 30px 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.product-comparing-table {
    width: 100%;
    text-align: center;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box
}

section {
    padding: 20px 0 20px 0;
    font-size: 25px;
}

.compare-app__title {
    text-align: center;
    font-size: 25px;
    padding: 30px 0 30px 0;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.compare-product-table {
    width: 100%;
    text-align: center;
}

.product-remove {
    padding-left: 10px;
    border-left: 1px solid gray;
}

