h2 {
    text-align: center;
    padding: 30px 0 30px 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 0;
    margin: 0;
}


/*БЛОК СТИЛЕЙ ДЛЯ ФОРМЫ АВТОРИЗАЦИИ
И РЕГИСТРАЦИИ*/
.reg-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 600px;
    padding: 30px;
    border: 1px dashed black;
    border-radius: 10px;
}

.reg-form ul {
    padding-left: 30px;
}

.auth-form, .reg-form {
    text-align: left;
    box-sizing: border-box;
}

.auth-block {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 1px dashed black;
    border-radius: 10px;
}

.auth-form input, .reg-form input {
    width: 100%;
    height: 25px;
}

.auth-form > *, .reg-form > * {
    margin: 10px 0;
    font-size: 20px;
}

.auth-form .button, .reg-form .button {
    margin: 30px 0 30px 0;
    text-align: center;
}

.auth-btn, .reg-btn {
    border: 1px solid black;
    font-size: 17px;
    padding: 7px;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
}

.reg-btn:hover, .auth-btn:hover {
    background-color: #d3d3d3;
}

.signup-link {
    font-size: 20px;
    text-align: center;
}
