h1 {
    text-align: center;
    padding: 30px 0 30px 0;
}

select, input, p {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 3px dashed black;
    border-radius: 10px;
}

.add-form {
    font-size: 20px;
    width: 600px;
    border-radius: 7px;
    text-align: left;
    box-sizing: border-box;
}

.add-form input {
    border: 1px solid black;
}

.add-form select {
    width: 100px;
}

.add-form label {
    margin: 0 0 7px 0;
}

.add-form input, textarea {
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    margin: 7px 0 0 0;
    height: 30px;
    border-radius: 5px;
}

.add-form textarea {
    height: 70px;
}

.add-form > * {
    margin: 10px 0 10px 0;
}

.button {
    margin-top: 20px;
    text-align: center;
}

.add-btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    cursor: pointer;
    border: 1px solid black;
}

.add-btn:hover {
    background-color: #d3d3d3;
}
