h1 {
    text-align: center;
    padding: 30px 0 30px 0;
}

select, input, p {
    padding: 0;
    margin: 0;
}

.add-product-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-form {
    font-size: 20px;
    width: 700px;
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
    box-sizing: border-box;
}

.add-form select {
    width: 100px;
}

.add-form label {
    margin: 0 0 7px 0;
}

.add-form input, textarea {
    width: 100%;
    margin: 7px 0 0 0;
    height: 30px;
    border-radius: 5px;
    /*border: 1px solid black;*/
    border: none;
}

.add-form textarea {
    height: 70px;
}

.add-form > * {
    padding: 10px 0 10px 0;
}

.button {
    margin-top: 20px;
    text-align: center;
}

.add {
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.add:hover {
    background-color: #d3d3d3;
}
