html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.page-header {
  position: sticky;
  top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: lightgray;
}

.page-header__logo {
  display: inline-block;
  padding-top: 5px;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__site-nav {
  display: flex;
  align-items: center;
  /*margin-left: 10px*/
}

.site-nav__list {
  display: flex;
  margin-left: 20px;
  list-style: none;
}

.site-nav__item, .user-nav__logo {
  margin: 15px 0 15px 0;
  padding-left: 25px;
}

.site-nav__item a {
  font-size: 18px;
  line-height: 19px;
  color: #303032;
  text-transform: uppercase;
  letter-spacing: .13em;
}

.site-nav__item a:focus,
.site-nav__item a:hover {
  opacity: 0.8;
}

.site-nav__item a:active {
  opacity: 0.6;
}

.user-nav__user-block {
  display: flex;
  align-items: center;
}

.user-nav__logo {
  margin: 0;
  padding: 0;
}

.user-nav__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

/*Раскрывающийся список пользователя*/

.user-nav__profile {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  display: none;
  padding: 10px;
  top: 0;
  right: 0;
  text-align: center;
  background-color: #d3d3d3;
  border-radius: 7px;
  border: 1px solid white;
  font-size: 20px;
}

.dropdown-menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 25px;
}

.controls-elem li {
  padding: 5px;
}

.controls-elem .user-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.username {
  padding-bottom: 5px;
}

.add-product {
  font-size: 17px;
}

.dropdown-menu .user-dropdown-nav {
  padding: 10px 0 10px 0;
  border-bottom: 2px solid white;
}

.dropdown-menu a:hover {
  color: white;
}

.dropdown-menu .user-dropdown-auth {
  padding: 10px 0 10px 0;
}

.user-nav__profile:hover .dropdown-menu {
  display: block;
  width: 200px;
  z-index: 0;
}

.user-dropdown-nav li a{
  font-size: 20px;
}

.logout-btn {
  width: 70%;
}

.user-auth {
  border-top: 2px solid white;
}

.user-nav__user-profile a {
  font-size: 18px;
  line-height: 19px;
  color: #303032;
}

.user-nav__user-auth {
  align-items: center;
  list-style: none;
}

.logout-link {
  font-size: 15px;
}

.user-nav__user-auth a {
  font-size: 17px;
  line-height: 20px;
  color: #303032;
}

.user-nav__shop_block {
  margin-right: 30px;
}


/* ФУТЕР */

.basement-content {
  margin-top: 40px;
  background-color: #d3d3d3;
}

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

.info-line__menu-item {
  margin-left: 0;
  margin-top: 0;
  width: 140px;
  text-decoration: none;
  color: #303032;
  text-transform: uppercase;
  padding-left: 40px;
  font-weight: 600;
}

.rights p {
  text-align: center;
  font-weight: 400;
}