body {
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box
}

ul {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: lightgray;
}

.page-header__logo {
  display: inline-block;
  padding-top: 5px;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__site-nav {
  display: flex;
  align-items: center;
  /*margin-left: 10px*/
}

.site-nav__list {
  display: flex;
  margin-left: 20px;
  list-style: none;
}

.site-nav__item, .user-nav__logo {
  margin: 15px 0 15px 0;
  padding-left: 25px;
}

.site-nav__item a {
  text-decoration: none;
  font-size: 18px;
  line-height: 19px;
  color: #303032;
  text-transform: uppercase;
  letter-spacing: .13em;
}

.site-nav__item a:focus,
.site-nav__item a:hover {
  opacity: 0.8;
}

.site-nav__item a:active {
  opacity: 0.6;
}

.user-nav__user-block {
  display: flex;
  align-items: center;
}

.user-nav__logo {
  margin: 0;
  padding: 0;
}

.user-nav__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

/*Раскрывающийся список пользователя*/
.user-nav__profile {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -40px;
  display: none;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown ul li {
  padding: 10px 10px 5px 10px;
}

.dropdown a {
  font-size: 20px;
}

.dropdown a:hover {
  color: white;
}

.user-nav__profile:hover .dropdown {
  display: block;
}



.user-nav__user-profile a {
  text-decoration: none;
  font-size: 18px;
  line-height: 19px;
  color: #303032;
}

.user-nav__user-auth {
  align-items: center;
  list-style: none;
}

.logout-btn {
  font-size: 15px;
}

.user-nav__user-auth a {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  color: #303032;
}

.user-nav__shop_block {
  margin-right: 30px;
}

