h2 {
    text-align: center;
    padding: 30px 0 30px 0;
}

.content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.edit-product-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-form {
    font-size: 20px;
    width: 600px;
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
    box-sizing: border-box;
}

.edit-form select {
    width: 100px;
}

.edit-form label {
    margin: 0 0 7px 0;
}

.edit-form input, textarea {
    width: 100%;
    margin: 7px 0 0 0;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.edit-form textarea {
    height: 70px;
}

.edit-form > * {
    padding: 10px 0 10px 0;
}

.del-form-btn {
    padding-top: 5px;
}

.edit-form .button {
    margin-top: 20px;
    text-align: center;
}

.save-btn, .del-btn {
    font-size: 17px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    width: 100px;
    cursor: pointer;
}

.save-btn {
    background-color: #309a30;
    color: #ffffff;
}

.del-btn {
    background-color: lightcoral;
    color: #ffffff;
}


