.main-content {
    display: flex;
    padding-top: 40px;
    font-size: 22px;
    flex: 1 1 auto;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.product-link:hover {
    color: #d3d3d3;
}

.user-section {
    padding-bottom: 7px;
}

.categories-block h2 {
    padding: 10px;
}

.categories-block .categories-list {
    margin-bottom: 20px;
}

.categories-list, .products-availability {
    background-color: #e0dddd;
    padding: 10px;
    width: 200px;
    border-radius: 7px;
}

.categories-list li, .products-availability li {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 5px;
}

.categories-list li:hover, .products-availability li:hover {
    background-color: #b7b7b7;
    color: white;
    border-radius: 7px;
}

.categories-block {
    margin-right: 30px;
}

.all-category-selected {
    background-color: lightgray;
}

.categories-list li, .products-availability li {
    list-style: none;
    height: 30px;
}

.sorting-product-section {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 15px 0 15px 0;
}

.sorting-product-section h3 {
    padding-right: 10px;
}

.sorting-product-section ul {
    display: flex;
    justify-content: space-between;
}

.sorting-criteria li {
    list-style: none;
}

.sorting-criteria li:not(:last-child) {
    padding-right: 15px;
}

.sorted-block > *:not(:last-child) {
    padding-right: 20px;
}

.products-tape {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    margin: 0 20px 20px 0;
    background-color: #ffffff;
    border: 1px solid black;
}

.product-description {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 25px 15px;
}

.product-info > *:not(:last-child) {
    padding-bottom: 5px;
}

.product-info h3 {
    font-size: 20px;
    padding-bottom: 5px;
}

.product-info p {
    font-size: 17px;
}

.disc-price {
    color: red;
}

.current-price, .disc-price {
    font-size: 18px;
}

.interaction-item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.add_cart {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #797979;
}

.add_cart a {
    color: #ffffff;
}



