* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 40px 0 40px 0;
}

.content {
    max-width: 1200px;
    margin: auto;
    font-size: 25px;
}

.view-product {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

img {
    display: block;
    margin: auto;
}

.specific-product-table {
    width: 100%;
    margin: 0 0 0 30px;
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 7px;
}

.feedback-content {
    margin-top: 50px;
    /*border-top: 1px solid black;*/
}

.feedback-content h2 {
    text-align: center;
    padding: 0 0 20px 0;
}

.feedback_info {
    display: flex;
    justify-content: space-between;
}

.feedback-rating {
    text-align: center;
    padding-bottom: 10px;
}

.form_field label, select {
    width: 100%;
}

.form_field h3 {
    padding: 0 0 7px 0;
}

.form_field textarea {
    width: 500px;
}

.form_field select {
    height: 30px;
}

.leave-button {
    margin-top: 15px;
}

.leave-review-btn {
    padding: 7px 5px 7px 5px;
    font-size: 17px;
}

.feedback-wrapper {
    margin-top: 30px;
    padding: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.feedbacks-tape {
    display: flex;
    flex-wrap: wrap;
}

.feedback__item {
    border: 1px solid black;
    padding: 15px;
    border-radius: 7px;
    margin-right: 20px;
}



