body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 40px 0 40px 0;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

.cart-content {
    font-size: 25px;
}

.products-tape {
    width: 100%;
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
    padding: 10px;
    border-radius: 7px;
}

.product-remove {
    padding-left: 10px;
    border-left: 1px solid rgb(128, 128, 128);
}

.update-quantity-form input[type='number'] {
    width: 50px;
    font-size: 20px;
    border: 1px solid rgb(128, 128, 128);
}

.update-quantity-form button[type='submit'] {
    border: 1px solid #1C2A6EFF;
    background-color: #f6f6f6;
}

.product-remove img:hover {
    background-color: #ef2b2b;
}



