body {
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
    padding: 40px 0 40px 0;
}

.container {
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

.products-tape {
    width: 100%;
    text-align: center;
}

.product-remove {
    padding-left: 10px;
    border-left: 1px solid gray;
}

.product-description > * {
    padding-bottom: 5px;
}

.product-description p {
    font-size: 15px;
}

.add_cart {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #797979;
}

.add_cart a {
    color: #ffffff;
}



