{% extends 'main_page/base.html' %}

{% block  css %}

{% endblock %}

{% block content %}
    <h2>Редактирование пользователя: <b>{{ profile.username }}</b></h2>

    <section>
        <div class="content container">
            <div class="edit-profile">
                <form method="post" class="edit-form" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form_prod.as_p }}

                    <div class="button">
                        <button class="save-btn btn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}